In [ ]:
"""
Nama  :
NIM   :
Kelas :
"""

In [ ]:
#pip install openpyxl
#pip install pandas
#pip install numpy
#pip install math

In [ ]:
import pandas as pd
import math

# Download Dataset

In [ ]:
def read_excel(path, sheet_target): # read excel data
    data = pd.read_excel(path, sheet_name=sheet_target)
    return pd.DataFrame(data)

In [ ]:
#https://docs.google.com/spreadsheets/d/1dmBRPuty1lWTddfrXMep0bQsZkniWc0A/edit?usp=share_link&ouid=108502851386751876518&rtpof=true&sd=true
!gdown 1dmBRPuty1lWTddfrXMep0bQsZkniWc0A

#https://docs.google.com/spreadsheets/d/1OQlnJe52HY2WpSEbNbtXuN_3pKKNJV8t/edit?usp=share_link&ouid=108502851386751876518&rtpof=true&sd=true
!gdown 1OQlnJe52HY2WpSEbNbtXuN_3pKKNJV8t

#https://docs.google.com/spreadsheets/d/1gRHnK84TO1uAyFDRfYBs4BRpjn0QoY1Z/edit?usp=share_link&ouid=108502851386751876518&rtpof=true&sd=true
!gdown 1gRHnK84TO1uAyFDRfYBs4BRpjn0QoY1Z

Downloading...
From: https://drive.google.com/uc?id=1dmBRPuty1lWTddfrXMep0bQsZkniWc0A
To: /content/newTrain.xlsx
100% 13.6k/13.6k [00:00<00:00, 32.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1OQlnJe52HY2WpSEbNbtXuN_3pKKNJV8t
To: /content/newTest.xlsx
100% 8.77k/8.77k [00:00<00:00, 29.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1gRHnK84TO1uAyFDRfYBs4BRpjn0QoY1Z
To: /content/newTestGroundTruth.xlsx
100% 8.76k/8.76k [00:00<00:00, 32.7MB/s]

In [ ]:
dataTrain = read_excel("newTrain.xlsx",sheet_target="train")
dataTest = read_excel("newTest.xlsx",sheet_target="Sheet1")
dataTruth = read_excel("newTestGroundTruth.xlsx",sheet_target="Sheet1")

In [ ]:
dataTrain.head()

   Unnamed: 0  id  x1  x2  x3  y
0           0   1  93  71  48  1
1           1   2  35  67  87  1
2           2   3  66  97  27  0
3           3   4  43  35  24  1
4           4   5  15  85  86  0

In [ ]:
dataTrain.columns.values

array(['Unnamed: 0', 'id', 'x1', 'x2', 'x3', 'y'], dtype=object)

In [ ]:
dataTest.columns.values

array(['Unnamed: 0', 'id', 'x1', 'x2', 'x3', 'y'], dtype=object)

In [ ]:
dataTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  296 non-null    int64
 1   id          296 non-null    int64
 2   x1          296 non-null    int64
 3   x2          296 non-null    int64
 4   x3          296 non-null    int64
 5   y           296 non-null    int64
dtypes: int64(6)
memory usage: 14.0 KB

In [ ]:
dataTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   id          10 non-null     int64
 2   x1          10 non-null     int64
 3   x2          10 non-null     int64
 4   x3          10 non-null     int64
 5   y           10 non-null     object
dtypes: int64(5), object(1)
memory usage: 608.0+ bytes

In [ ]:
dataTruth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   id          10 non-null     int64
 2   x1          10 non-null     int64
 3   x2          10 non-null     int64
 4   x3          10 non-null     int64
 5   y           10 non-null     int64
dtypes: int64(6)
memory usage: 608.0 bytes

In [ ]:
dataTest

   Unnamed: 0   id  x1  x2  x3  y
0           0  297  82  73  78  ?
1           1  298  31  38  68  ?
2           2  299  64  91  73  ?
3           3  300  33  35  26  ?
4           4  301  11  82  30  ?
5           5  302  88  26  36  ?
6           6  303  22  46  46  ?
7           7  304  14  54  12  ?
8           8  305  34  54  67  ?
9           9  306  98  96  60  ?

In [ ]:
dataTrain = dataTrain.drop(["Unnamed: 0"],axis=1)
dataTest = dataTest.drop(["Unnamed: 0"],axis=1)
dataTruth = dataTruth.drop(["Unnamed: 0"],axis=1)

In [ ]:
dataTest

    id  x1  x2  x3  y
0  297  82  73  78  ?
1  298  31  38  68  ?
2  299  64  91  73  ?
3  300  33  35  26  ?
4  301  11  82  30  ?
5  302  88  26  36  ?
6  303  22  46  46  ?
7  304  14  54  12  ?
8  305  34  54  67  ?
9  306  98  96  60  ?

In [ ]:
#Fungsi Normalisasi
def norm(allData, columnTarget):
  for column in columnTarget:
    allData[column] = (allData[column]-allData[column].min()) / (allData[column].max()-allData[column].min())
    
  return allData

In [ ]:
testStartID = dataTrain.index.stop
allData = pd.concat([dataTrain, dataTest])
allData = norm(allData, ['x1','x2','x3'])
normTrain, normTest = allData.iloc[:testStartID].drop('id',axis=1), allData.iloc[:testStartID].drop('id',axis=1)

In [ ]:
normTrain.head()

     x1    x2    x3  y
0  0.93  0.71  0.48  1
1  0.35  0.67  0.87  1
2  0.66  0.97  0.27  0
3  0.43  0.35  0.24  1
4  0.15  0.85  0.86  0

In [ ]:
#Standarisasi
def stdz(allData, columnTarget):
  for column in columnTarget:
    allData[column] = (allData[column]-allData[column].mean()) / allData[column].std()

  return allData

In [ ]:
testStartID = dataTrain.index.stop
allData = pd.concat([dataTrain, dataTest])
allData = stdz(allData, ['x1','x2','x3'])
stdzTrain, stdzTest = allData.iloc[:testStartID].drop('id',axis=1), allData.iloc[:testStartID].drop('id',axis=1)

In [ ]:
stdzTrain.head()

         x1        x2        x3  y
0  1.462804  0.628762  0.036067  1
1 -0.466441  0.495728  1.368636  1
2  0.564707  1.493487 -0.681470  0
3 -0.200338 -0.568549 -0.783976  1
4 -1.131697  1.094383  1.334467  0

In [ ]:
def prb(mean, std, x):
  exponent = math.exp(-((x-mean)**2 / (2 * std**2)))
  return (1/(math.sqrt(2*math.pi)*std)) * exponent

In [ ]:
def splitT(dataTrain, columnTarget):
  truthData = []
  for truth in dataTrain[columnTarget].unique():
    truthData.append(dataTrain.where(dataTrain[columnTarget] == truth).dropna())
  return truthData

yesData, noData = splitT(dataTrain, columnTarget='y')

In [ ]:
yesData.head()

      id    x1    x2    x3    y
0    1.0  93.0  71.0  48.0  1.0
1    2.0  35.0  67.0  87.0  1.0
3    4.0  43.0  35.0  24.0  1.0
6    7.0  36.0  17.0  11.0  1.0
10  11.0  69.0  29.0   9.0  1.0

In [ ]:
noData.head()

    id    x1     x2    x3    y
2  3.0  66.0   97.0  27.0  0.0
4  5.0  15.0   85.0  86.0  0.0
5  6.0  63.0    6.0  39.0  0.0
7  8.0  98.0   50.0  15.0  0.0
8  9.0   3.0  100.0  98.0  0.0

In [ ]:
def findMean(yesData, noData, columnTarget):
  yesMean = dict()
  noMean = dict()
  for column in columnTarget:
    yesMean[column] = yesData[column].mean()
    noMean[column] = noData[column].mean()
  return yesMean, noMean

In [ ]:
yesMean, noMean = findMean(yesData, noData, columnTarget=['x1', 'x2', 'x3'])

In [ ]:
print(f"Mean Result\n1 : {yesMean}\n0 : {noMean}")

Mean Result
1 : {'x1': 49.36923076923077, 'x2': 52.54615384615385, 'x3': 44.65384615384615}
0 : {'x1': 48.83132530120482, 'x2': 51.295180722891565, 'x3': 48.57831325301205}

In [ ]:
yesMean

{'x1': 49.36923076923077, 'x2': 52.54615384615385, 'x3': 44.65384615384615}

In [ ]:
noMean

{'x1': 48.83132530120482, 'x2': 51.295180722891565, 'x3': 48.57831325301205}

In [ ]:
def findSTD(yesData, noData, columnTarget):
  yesSTD = dict()
  noSTD = dict()
  for column in columnTarget:
    yesSTD[column] = yesData[column].std()
    noSTD[column] = noData[column].std()
  return yesSTD, noSTD

In [ ]:
yesSTD, noSTD = findSTD(yesData, noData, columnTarget=['x1', 'x2', 'x3'])

In [ ]:
print(f"Mean Result\n1 : {yesSTD}\n0 : {noSTD}")

Mean Result
1 : {'x1': 30.66147709583266, 'x2': 30.672592502572407, 'x3': 28.23811035755217}
0 : {'x1': 29.636921803562995, 'x2': 29.974588848453084, 'x3': 30.40439381402378}

In [ ]:
def doPredik(yesMean, yesSTD, noMean, noSTD, target, columnTarget, truthColumn):
  result = []
  for i in range(len(target)):
    yesResult = 1
    noResult = 1
    for column in columnTarget:
      yesResult *= prb(yesMean[column], yesSTD[column], target[column].iloc[i])
      noResult *= prb(noMean[column], noSTD[column], target[column].iloc[i])
    result.append({'ID' : target['id'].iloc[i], 'Yes Probability' : "{}".format(yesResult), 'No Probability' : "{}".format(noResult),
                   'Hasil Prediksi' : int(yesResult > noResult), 'Ground Truth' : target[truthColumn].iloc[i]})
  return result

In [ ]:
result = []
target = dataTest
result = doPredik(yesMean, yesSTD, noMean, noSTD, target, columnTarget=['x1', 'x2', 'x3'], truthColumn='y')

for p in result:
  print(p)

{'ID': 297, 'Yes Probability': '5.410535440623304e-07', 'No Probability': '6.05380751888213e-07', 'Hasil Prediksi': 0, 'Ground Truth': '?'}
{'ID': 298, 'Yes Probability': '1.2686694753559456e-06', 'No Probability': '1.4496949713556619e-06', 'Hasil Prediksi': 0, 'Ground Truth': '?'}
{'ID': 299, 'Yes Probability': '5.874877627717968e-07', 'No Probability': '6.211806302152328e-07', 'Hasil Prediksi': 0, 'Ground Truth': '?'}
{'ID': 300, 'Yes Probability': '1.4152815715008876e-06', 'No Probability': '1.3345162711554498e-06', 'Hasil Prediksi': 1, 'Ground Truth': '?'}
{'ID': 301, 'Yes Probability': '6.022775109255009e-07', 'No Probability': '5.110315422135354e-07', 'Hasil Prediksi': 1, 'Ground Truth': '?'}
{'ID': 302, 'Yes Probability': '7.092693679462497e-07', 'No Probability': '6.311279739428465e-07', 'Hasil Prediksi': 1, 'Ground Truth': '?'}
{'ID': 303, 'Yes Probability': '1.5672851957113277e-06', 'No Probability': '1.5306959624281995e-06', 'Hasil Prediksi': 1, 'Ground Truth': '?'}
{'ID': 304, 'Yes Probability': '6.291371837770748e-07', 'No Probability': '5.69134388093406e-07', 'Hasil Prediksi': 1, 'Ground Truth': '?'}
{'ID': 305, 'Yes Probability': '1.5399944039972657e-06', 'No Probability': '1.7192663995980988e-06', 'Hasil Prediksi': 0, 'Ground Truth': '?'}
{'ID': 306, 'Yes Probability': '2.1495449796482218e-07', 'No Probability': '1.8191907580346846e-07', 'Hasil Prediksi': 1, 'Ground Truth': '?'}

In [ ]:
def folding(dataset, trainingPercentage, location, shuffle:bool):
    lengthTraining = int(len(dataset)*trainingPercentage/100)
    # randomize the the data position
    if(shuffle):
        dataset = dataset.sample(frac=1).reset_index(drop=True)
    train = []
    validation = []
    if(location == 'left'):
        train, validation = dataset.iloc[:lengthTraining].reset_index(drop=True), dataset.iloc[lengthTraining:].reset_index(drop=True)
    elif(location == 'right'):
        validation,train = dataset.iloc[:abs(lengthTraining-len(dataset))].reset_index(drop=True), dataset.iloc[abs(lengthTraining-len(dataset)):].reset_index(drop=True)
    elif(location == 'middle'):
        train = dataset.iloc[int(abs(lengthTraining-len(dataset))/2):len(dataset)-int(abs(lengthTraining-len(dataset))/2)]
        validation = pd.concat([dataset.iloc[:int(abs(lengthTraining-len(dataset))/2)],dataset.iloc[len(dataset)-int(abs(lengthTraining-len(dataset))/2):]])
    return train, validation

In [ ]:
trainData, validationData = folding(dataTrain.copy(), 70, 'left', shuffle=True)