In [1]:
"""
Nama  :Muhammad Danu Firjatullah Rachman
NIM   :1301213439
Kelas :IF-45-12
"""

'\nNama  :Muhammad Danu Firjatullah Rachman\nNIM   :1301213439\nKelas :IF-45-12\n'

In [2]:
#pip install openpyxl
#pip install pandas
#pip install numpy
#pip install math

In [3]:
import pandas as pd
import math

# Download Dataset

In [4]:
def read_excel(path, sheet_target): # read excel data
    data = pd.read_excel(path, sheet_name=sheet_target)
    return pd.DataFrame(data)

In [5]:
#https://docs.google.com/spreadsheets/d/1dmBRPuty1lWTddfrXMep0bQsZkniWc0A/edit?usp=share_link&ouid=108502851386751876518&rtpof=true&sd=true
!gdown 1dmBRPuty1lWTddfrXMep0bQsZkniWc0A

#https://docs.google.com/spreadsheets/d/1OQlnJe52HY2WpSEbNbtXuN_3pKKNJV8t/edit?usp=share_link&ouid=108502851386751876518&rtpof=true&sd=true
!gdown 1OQlnJe52HY2WpSEbNbtXuN_3pKKNJV8t

#https://docs.google.com/spreadsheets/d/1gRHnK84TO1uAyFDRfYBs4BRpjn0QoY1Z/edit?usp=share_link&ouid=108502851386751876518&rtpof=true&sd=true
!gdown 1gRHnK84TO1uAyFDRfYBs4BRpjn0QoY1Z

Downloading...
From: https://drive.google.com/uc?id=1dmBRPuty1lWTddfrXMep0bQsZkniWc0A
To: /content/newTrain.xlsx
100% 13.6k/13.6k [00:00<00:00, 57.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1OQlnJe52HY2WpSEbNbtXuN_3pKKNJV8t
To: /content/newTest.xlsx
100% 8.77k/8.77k [00:00<00:00, 50.8MB/s]
Downloading...
From: https://drive.google.com/uc?id=1gRHnK84TO1uAyFDRfYBs4BRpjn0QoY1Z
To: /content/newTestGroundTruth.xlsx
100% 8.76k/8.76k [00:00<00:00, 41.5MB/s]

In [6]:
dataTrain = read_excel("newTrain.xlsx",sheet_target="train")
dataTest = read_excel("newTest.xlsx",sheet_target="Sheet1")
dataTruth = read_excel("newTestGroundTruth.xlsx",sheet_target="Sheet1")

In [7]:
dataTrain.head()

   Unnamed: 0  id  x1  x2  x3  y
0           0   1  93  71  48  1
1           1   2  35  67  87  1
2           2   3  66  97  27  0
3           3   4  43  35  24  1
4           4   5  15  85  86  0

In [8]:
dataTrain.columns.values

array(['Unnamed: 0', 'id', 'x1', 'x2', 'x3', 'y'], dtype=object)

In [9]:
dataTest.columns.values

array(['Unnamed: 0', 'id', 'x1', 'x2', 'x3', 'y'], dtype=object)

In [10]:
dataTrain.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 296 entries, 0 to 295
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  296 non-null    int64
 1   id          296 non-null    int64
 2   x1          296 non-null    int64
 3   x2          296 non-null    int64
 4   x3          296 non-null    int64
 5   y           296 non-null    int64
dtypes: int64(6)
memory usage: 14.0 KB

In [11]:
dataTest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   id          10 non-null     int64
 2   x1          10 non-null     int64
 3   x2          10 non-null     int64
 4   x3          10 non-null     int64
 5   y           10 non-null     object
dtypes: int64(5), object(1)
memory usage: 608.0+ bytes

In [12]:
dataTruth.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  10 non-null     int64
 1   id          10 non-null     int64
 2   x1          10 non-null     int64
 3   x2          10 non-null     int64
 4   x3          10 non-null     int64
 5   y           10 non-null     int64
dtypes: int64(6)
memory usage: 608.0 bytes

In [13]:
dataTest

   Unnamed: 0   id  x1  x2  x3  y
0           0  297  82  73  78  ?
1           1  298  31  38  68  ?
2           2  299  64  91  73  ?
3           3  300  33  35  26  ?
4           4  301  11  82  30  ?
5           5  302  88  26  36  ?
6           6  303  22  46  46  ?
7           7  304  14  54  12  ?
8           8  305  34  54  67  ?
9           9  306  98  96  60  ?

In [14]:
dataTrain = dataTrain.drop(["Unnamed: 0"],axis=1)
dataTest = dataTest.drop(["Unnamed: 0"],axis=1)
dataTruth = dataTruth.drop(["Unnamed: 0"],axis=1)

In [15]:
dataTest

    id  x1  x2  x3  y
0  297  82  73  78  ?
1  298  31  38  68  ?
2  299  64  91  73  ?
3  300  33  35  26  ?
4  301  11  82  30  ?
5  302  88  26  36  ?
6  303  22  46  46  ?
7  304  14  54  12  ?
8  305  34  54  67  ?
9  306  98  96  60  ?

In [16]:
#Fungsi Normalisasi
def norm(allData, columnTarget):
  for column in columnTarget:
    allData[column] = (allData[column]-allData[column].min()) / (allData[column].max()-allData[column].min())
    
  return allData

In [17]:
testStartID = dataTrain.index.stop
allData = pd.concat([dataTrain, dataTest])
allData = norm(allData, ['x1','x2','x3'])
normTrain, normTest = allData.iloc[:testStartID].drop('id',axis=1), allData.iloc[:testStartID].drop('id',axis=1)

In [18]:
normTrain.head()

     x1    x2    x3  y
0  0.93  0.71  0.48  1
1  0.35  0.67  0.87  1
2  0.66  0.97  0.27  0
3  0.43  0.35  0.24  1
4  0.15  0.85  0.86  0

In [19]:
#Standarisasi
def stdz(allData, columnTarget):
  for column in columnTarget:
    allData[column] = (allData[column]-allData[column].mean()) / allData[column].std()

  return allData

In [20]:
testStartID = dataTrain.index.stop
allData = pd.concat([dataTrain, dataTest])
allData = stdz(allData, ['x1','x2','x3'])
stdzTrain, stdzTest = allData.iloc[:testStartID].drop('id',axis=1), allData.iloc[:testStartID].drop('id',axis=1)

In [21]:
stdzTrain.head()

         x1        x2        x3  y
0  1.462804  0.628762  0.036067  1
1 -0.466441  0.495728  1.368636  1
2  0.564707  1.493487 -0.681470  0
3 -0.200338 -0.568549 -0.783976  1
4 -1.131697  1.094383  1.334467  0

In [22]:
def prb(mean, std, x):
  exponent = math.exp(-((x-mean)**2 / (2 * std**2)))
  return (1/(math.sqrt(2*math.pi)*std)) * exponent

In [23]:
def splitT(dataTrain, columnTarget):
  truthData = []
  for truth in dataTrain[columnTarget].unique():
    truthData.append(dataTrain.where(dataTrain[columnTarget] == truth).dropna())
  return truthData

yesData, noData = splitT(dataTrain, columnTarget='y')

In [24]:
yesData.head()

      id    x1    x2    x3    y
0    1.0  93.0  71.0  48.0  1.0
1    2.0  35.0  67.0  87.0  1.0
3    4.0  43.0  35.0  24.0  1.0
6    7.0  36.0  17.0  11.0  1.0
10  11.0  69.0  29.0   9.0  1.0

In [25]:
noData.head()

    id    x1     x2    x3    y
2  3.0  66.0   97.0  27.0  0.0
4  5.0  15.0   85.0  86.0  0.0
5  6.0  63.0    6.0  39.0  0.0
7  8.0  98.0   50.0  15.0  0.0
8  9.0   3.0  100.0  98.0  0.0

In [26]:
def findMean(yesData, noData, columnTarget):
  yesMean = dict()
  noMean = dict()
  for column in columnTarget:
    yesMean[column] = yesData[column].mean()
    noMean[column] = noData[column].mean()
  return yesMean, noMean

In [27]:
yesMean, noMean = findMean(yesData, noData, columnTarget=['x1', 'x2', 'x3'])

In [28]:
print(f"Mean Result\n1 : {yesMean}\n0 : {noMean}")

Mean Result
1 : {'x1': 49.36923076923077, 'x2': 52.54615384615385, 'x3': 44.65384615384615}
0 : {'x1': 48.83132530120482, 'x2': 51.295180722891565, 'x3': 48.57831325301205}

In [29]:
yesMean

{'x1': 49.36923076923077, 'x2': 52.54615384615385, 'x3': 44.65384615384615}

In [30]:
noMean

{'x1': 48.83132530120482, 'x2': 51.295180722891565, 'x3': 48.57831325301205}

In [31]:
def findSTD(yesData, noData, columnTarget):
  yesSTD = dict()
  noSTD = dict()
  for column in columnTarget:
    yesSTD[column] = yesData[column].std()
    noSTD[column] = noData[column].std()
  return yesSTD, noSTD

In [32]:
yesSTD, noSTD = findSTD(yesData, noData, columnTarget=['x1', 'x2', 'x3'])

In [33]:
print(f"Mean Result\n1 : {yesSTD}\n0 : {noSTD}")

Mean Result
1 : {'x1': 30.66147709583266, 'x2': 30.672592502572407, 'x3': 28.23811035755217}
0 : {'x1': 29.636921803562995, 'x2': 29.974588848453084, 'x3': 30.40439381402378}

In [34]:
def doPredik(yesMean, yesSTD, noMean, noSTD, target, columnTarget, truthColumn):
  result = []
  for i in range(len(target)):
    yesResult = 1
    noResult = 1
    for column in columnTarget:
      yesResult *= prb(yesMean[column], yesSTD[column], target[column].iloc[i])
      noResult *= prb(noMean[column], noSTD[column], target[column].iloc[i])
    result.append({'ID' : target['id'].iloc[i], 'Yes Probability' : "{}".format(yesResult), 'No Probability' : "{}".format(noResult),
                   'Hasil Prediksi' : int(yesResult > noResult), 'Ground Truth' : target[truthColumn].iloc[i]})
  return result

In [35]:
result = []
target = dataTest
result = doPredik(yesMean, yesSTD, noMean, noSTD, target, columnTarget=['x1', 'x2', 'x3'], truthColumn='y')

for p in result:
  print(p)

{'ID': 297, 'Yes Probability': '5.410535440623304e-07', 'No Probability': '6.05380751888213e-07', 'Hasil Prediksi': 0, 'Ground Truth': '?'}
{'ID': 298, 'Yes Probability': '1.2686694753559456e-06', 'No Probability': '1.4496949713556619e-06', 'Hasil Prediksi': 0, 'Ground Truth': '?'}
{'ID': 299, 'Yes Probability': '5.874877627717968e-07', 'No Probability': '6.211806302152328e-07', 'Hasil Prediksi': 0, 'Ground Truth': '?'}
{'ID': 300, 'Yes Probability': '1.4152815715008876e-06', 'No Probability': '1.3345162711554498e-06', 'Hasil Prediksi': 1, 'Ground Truth': '?'}
{'ID': 301, 'Yes Probability': '6.022775109255009e-07', 'No Probability': '5.110315422135354e-07', 'Hasil Prediksi': 1, 'Ground Truth': '?'}
{'ID': 302, 'Yes Probability': '7.092693679462497e-07', 'No Probability': '6.311279739428465e-07', 'Hasil Prediksi': 1, 'Ground Truth': '?'}
{'ID': 303, 'Yes Probability': '1.5672851957113277e-06', 'No Probability': '1.5306959624281995e-06', 'Hasil Prediksi': 1, 'Ground Truth': '?'}
{'ID': 304, 'Yes Probability': '6.291371837770748e-07', 'No Probability': '5.69134388093406e-07', 'Hasil Prediksi': 1, 'Ground Truth': '?'}
{'ID': 305, 'Yes Probability': '1.5399944039972657e-06', 'No Probability': '1.7192663995980988e-06', 'Hasil Prediksi': 0, 'Ground Truth': '?'}
{'ID': 306, 'Yes Probability': '2.1495449796482218e-07', 'No Probability': '1.8191907580346846e-07', 'Hasil Prediksi': 1, 'Ground Truth': '?'}

In [36]:
def folding(dataset, trainingPercentage, location, shuffle:bool):
    lengthTraining = int(len(dataset)*trainingPercentage/100)
    # randomize the the data position
    if(shuffle):
        dataset = dataset.sample(frac=1).reset_index(drop=True)
    train = []
    validation = []
    if(location == 'left'):
        train, validation = dataset.iloc[:lengthTraining].reset_index(drop=True), dataset.iloc[lengthTraining:].reset_index(drop=True)
    elif(location == 'right'):
        validation,train = dataset.iloc[:abs(lengthTraining-len(dataset))].reset_index(drop=True), dataset.iloc[abs(lengthTraining-len(dataset)):].reset_index(drop=True)
    elif(location == 'middle'):
        train = dataset.iloc[int(abs(lengthTraining-len(dataset))/2):len(dataset)-int(abs(lengthTraining-len(dataset))/2)]
        validation = pd.concat([dataset.iloc[:int(abs(lengthTraining-len(dataset))/2)],dataset.iloc[len(dataset)-int(abs(lengthTraining-len(dataset))/2):]])
    return train, validation

In [37]:
trainData, validationData = folding(dataTrain.copy(), 70, 'left', shuffle=True)

In [38]:
# Split yes and no
yesDataTrain, noDataTrain = splitT(trainData, columnTarget='y')
# Find mean
yesMeanTrain, noMeanTrain = findMean(yesDataTrain, noDataTrain, columnTarget=['x1','x2','x3'])
# Find standard deviation
yesStdTrain, noStdTrain = findSTD(yesDataTrain, noDataTrain, ['x1','x2','x3'])

result = []
target = validationData # your ground truth data
result = doPredik(yesMeanTrain, yesStdTrain, noMeanTrain, noStdTrain, target, columnTarget=['x1','x2','x3'], truthColumn='y')

for p in result:
    print(p)

{'ID': 83, 'Yes Probability': '1.1243850149473372e-06', 'No Probability': '9.243541274385451e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 91, 'Yes Probability': '2.5750927901658645e-07', 'No Probability': '2.6451097307196425e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 256, 'Yes Probability': '1.0021297177514845e-06', 'No Probability': '8.84919814464985e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 283, 'Yes Probability': '1.750546149862075e-07', 'No Probability': '1.92885599617898e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 63, 'Yes Probability': '1.885900795487757e-06', 'No Probability': '1.949055521413194e-06', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 126, 'Yes Probability': '2.940925061284663e-07', 'No Probability': '2.8691147863899825e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 106, 'Yes Probability': '5.101626791660039e-07', 'No Probability': '6.582292453144031e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 37, 'Yes Probability': '4.271702761590355e-07', 'No Probability': '3.6697783982576704e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 241, 'Yes Probability': '5.278644522805942e-07', 'No Probability': '4.177530526771645e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 186, 'Yes Probability': '5.214384056227312e-07', 'No Probability': '5.238189207253709e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 242, 'Yes Probability': '1.1387941536118795e-06', 'No Probability': '1.1726890303561734e-06', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 237, 'Yes Probability': '1.5925730890468247e-06', 'No Probability': '1.5583769723516928e-06', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 104, 'Yes Probability': '2.456224757314188e-07', 'No Probability': '2.1002430668735241e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 74, 'Yes Probability': '1.7011124149506268e-06', 'No Probability': '1.860409964301714e-06', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 18, 'Yes Probability': '8.809637267893632e-07', 'No Probability': '9.700318989239454e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 7, 'Yes Probability': '5.449376007314275e-07', 'No Probability': '5.721381405091917e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 71, 'Yes Probability': '8.573087225557672e-07', 'No Probability': '7.195118188132613e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 204, 'Yes Probability': '5.5431751718504e-07', 'No Probability': '4.87402998414938e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 117, 'Yes Probability': '3.8904862160560074e-07', 'No Probability': '2.923412485941019e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 56, 'Yes Probability': '3.075389494647025e-07', 'No Probability': '4.237861140097382e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 223, 'Yes Probability': '2.9059795381435744e-07', 'No Probability': '2.993383350547739e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 227, 'Yes Probability': '1.323258129101976e-07', 'No Probability': '1.2049697512100335e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 132, 'Yes Probability': '2.856428205961295e-07', 'No Probability': '3.239629312112629e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 176, 'Yes Probability': '7.573169751335845e-07', 'No Probability': '7.227605912718461e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 234, 'Yes Probability': '5.439074631364852e-07', 'No Probability': '7.07813837007305e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 147, 'Yes Probability': '2.1885433049434356e-07', 'No Probability': '1.8854393229492768e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 264, 'Yes Probability': '3.0819578211580605e-07', 'No Probability': '3.04638567419488e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 164, 'Yes Probability': '2.272399933137587e-06', 'No Probability': '2.2417546086829414e-06', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 9, 'Yes Probability': '3.199407563045358e-08', 'No Probability': '4.5293478159699566e-08', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 29, 'Yes Probability': '1.2807667387637647e-06', 'No Probability': '1.3070750244043991e-06', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 121, 'Yes Probability': '2.7811857381817905e-07', 'No Probability': '4.156258779445436e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 90, 'Yes Probability': '2.3726348476394228e-07', 'No Probability': '2.7303825821315457e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 55, 'Yes Probability': '1.1960594550165795e-06', 'No Probability': '1.1005894361435146e-06', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 105, 'Yes Probability': '5.957042678527897e-07', 'No Probability': '6.172038503435179e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 36, 'Yes Probability': '7.093388424508718e-07', 'No Probability': '5.504206365062653e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 233, 'Yes Probability': '3.925541892674891e-07', 'No Probability': '5.375509799378499e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 263, 'Yes Probability': '1.294061525622866e-06', 'No Probability': '1.123178723647269e-06', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 28, 'Yes Probability': '8.631901542905709e-07', 'No Probability': '1.0200230964401784e-06', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 200, 'Yes Probability': '3.7320850282279114e-07', 'No Probability': '3.959453474246757e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 62, 'Yes Probability': '1.3895842570034296e-07', 'No Probability': '1.824389036163593e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 258, 'Yes Probability': '1.3864985895113301e-06', 'No Probability': '1.5603557350606577e-06', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 118, 'Yes Probability': '3.8068115953622814e-07', 'No Probability': '3.1274784436218473e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 96, 'Yes Probability': '9.970869584369778e-07', 'No Probability': '1.0595202433877054e-06', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 97, 'Yes Probability': '8.720465068192824e-07', 'No Probability': '7.303666582607453e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 44, 'Yes Probability': '3.522402132752114e-07', 'No Probability': '4.1911378624583863e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 248, 'Yes Probability': '4.4578337216514936e-07', 'No Probability': '3.31692487640941e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 290, 'Yes Probability': '2.0124083938508232e-07', 'No Probability': '2.915065724949795e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 46, 'Yes Probability': '2.458134429944156e-07', 'No Probability': '2.4229783895751155e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 172, 'Yes Probability': '2.4556376983795127e-07', 'No Probability': '2.409491523977096e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 125, 'Yes Probability': '5.365326632555008e-08', 'No Probability': '7.606071276170296e-08', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 259, 'Yes Probability': '5.814795944955935e-07', 'No Probability': '4.834058860495788e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 276, 'Yes Probability': '9.566919629503893e-07', 'No Probability': '9.750101683275402e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 134, 'Yes Probability': '4.4579382743408976e-07', 'No Probability': '5.881818399866081e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 49, 'Yes Probability': '2.2026615398119732e-07', 'No Probability': '2.7227598151232696e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 254, 'Yes Probability': '1.7170433318200952e-06', 'No Probability': '1.8660525252549608e-06', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 278, 'Yes Probability': '4.4808651097495025e-07', 'No Probability': '3.342199493592224e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 291, 'Yes Probability': '4.5332954963209384e-07', 'No Probability': '5.220274874481838e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 261, 'Yes Probability': '7.042800734730627e-07', 'No Probability': '5.320506290570349e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 51, 'Yes Probability': '7.246815690264796e-07', 'No Probability': '6.096166567817242e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 187, 'Yes Probability': '2.4905686324455025e-07', 'No Probability': '1.6248376319988329e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 64, 'Yes Probability': '1.7364904347088946e-06', 'No Probability': '1.530204386855064e-06', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 23, 'Yes Probability': '4.1650957480485484e-07', 'No Probability': '4.5917055371952246e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 169, 'Yes Probability': '2.1113236314582141e-07', 'No Probability': '2.568131477515124e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 265, 'Yes Probability': '6.004305832006807e-07', 'No Probability': '7.915329749782122e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 70, 'Yes Probability': '5.363890877771111e-07', 'No Probability': '4.855703244094697e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 65, 'Yes Probability': '3.315581222779879e-07', 'No Probability': '3.6745188509383106e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 31, 'Yes Probability': '4.0384331825276333e-07', 'No Probability': '4.6460103583818787e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 130, 'Yes Probability': '6.49381079818025e-07', 'No Probability': '6.298395333695513e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 181, 'Yes Probability': '4.0005110922715384e-07', 'No Probability': '2.865206411094097e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 148, 'Yes Probability': '9.91546079325053e-07', 'No Probability': '1.1235189248792443e-06', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 128, 'Yes Probability': '1.8405340575626495e-07', 'No Probability': '1.2382034781101422e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 21, 'Yes Probability': '7.63572495566212e-07', 'No Probability': '8.588291398092208e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 15, 'Yes Probability': '3.6776794840785016e-07', 'No Probability': '4.365165847296764e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 274, 'Yes Probability': '1.099550324129656e-06', 'No Probability': '1.0476962262142775e-06', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 94, 'Yes Probability': '4.623537316313385e-07', 'No Probability': '5.229632601738465e-07', 'Hasil Prediksi': 0, 'Ground Truth': 1}
{'ID': 17, 'Yes Probability': '6.733283001390978e-07', 'No Probability': '7.315509956634884e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 193, 'Yes Probability': '1.2390980968869108e-06', 'No Probability': '1.1269353826719984e-06', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 289, 'Yes Probability': '9.942268036398509e-07', 'No Probability': '1.1189006462353543e-06', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 238, 'Yes Probability': '1.1845332723761515e-06', 'No Probability': '1.1722986714107245e-06', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 189, 'Yes Probability': '6.496951738733574e-07', 'No Probability': '6.223702694184054e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 32, 'Yes Probability': '1.2690844361337447e-06', 'No Probability': '1.0680162448001887e-06', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 221, 'Yes Probability': '6.983611698966945e-07', 'No Probability': '5.399063279421463e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 270, 'Yes Probability': '2.82268951280203e-07', 'No Probability': '3.589711388012879e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 87, 'Yes Probability': '5.346198055350474e-07', 'No Probability': '4.93301768021949e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 98, 'Yes Probability': '1.3981071768650293e-07', 'No Probability': '1.1578173634003596e-07', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 201, 'Yes Probability': '3.7432110864949626e-07', 'No Probability': '2.676815543969827e-07', 'Hasil Prediksi': 1, 'Ground Truth': 0}
{'ID': 22, 'Yes Probability': '1.2383101442335302e-06', 'No Probability': '1.0221521609261323e-06', 'Hasil Prediksi': 1, 'Ground Truth': 1}
{'ID': 5, 'Yes Probability': '2.2011806009969826e-07', 'No Probability': '2.8479729521483566e-07', 'Hasil Prediksi': 0, 'Ground Truth': 0}
{'ID': 152, 'Yes Probability': '9.992570735729978e-07', 'No Probability': '1.1138900641377638e-06', 'Hasil Prediksi': 0, 'Ground Truth': 1}

In [42]:
def confussionMatrix(result):
    TP = 0
    FP = 0
    TN = 0
    FN = 0
    x = True
    for i in result:
        if(i['Ground Truth'] == '?'):
            x = False
            break
        elif((i['Hasil Prediksi'] == 1)and(i['Hasil Prediksi'] == i['Ground Truth'])):
            TP += 1
        elif((i['Hasil Prediksi'] == 0)and(i['Hasil Prediksi'] == i['Ground Truth'])):
            TN += 1
        elif((i['Hasil Prediksi'] == 1)and(i['Hasil Prediksi'] != i['Ground Truth'])):
            FP += 1
        elif((i['Hasil Prediksi'] == 0)and(i['Hasil Prediksi'] != i['Ground Truth'])):
            FN += 1 
    if(x):
        print(f"\nTP : {TP} FP : {FP}\nTN : {TN} FN : {FN}")
        print(f"Accuracy : {((TP+TN)/(TP+TN+FP+FN))*100}%")
        print(f"Precission : {((TP)/(TP+FP))*100}%")
        print(f"Recall : {((TP)/(TP+FN))*100}%")
    else:
        print("\nCannot process the confussion matrix with unknown Ground Truth!")

In [43]:
confussionMatrix(result)

TP : 19 FP : 24
TN : 25 FN : 21
Accuracy : 49.43820224719101%
Precission : 44.18604651162791%
Recall : 47.5%